// classes are coming from ymaps api

.ballon_header {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ballon_body {
  flex: 1;
}

.ballon_body a {
  display: block;
  margin-bottom: 6px;
}

.ballon_footer p {
  font-size: 12px;
  text-align: right;
  color: $gray;
  margin-bottom: 5px;
}

.ymaps-2-1-72-b-cluster-carousel__content-item_current_yes {
  height: 100%;

  ymaps {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
