.comments-item {
  padding: 10px 0;
}

.comments-item__name {
  color: $dark;
  font-size: 16px;
  font-weight: 500;
}

.comments-item__place {
  color: $dark;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.75;
}

.comments-item__date {
  opacity: 0.75;
  color: $dark;
  font-size: 14px;
  font-weight: 400;
}

.comments-item__text {
  margin-top: 8px;
  color: $dark;
  font-size: 16px;
  font-weight: 400;
}
